.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: cornsilk;
    font-size: 2rem;
}