.dragEl {
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #000;
    color: white;
    font-size: 64px;
    font-weight: bold;
}

.hide {
    display: none;
}